:root {
    --gray: #F2F2F2;
    --light-blue: #DEEBFF;
    --rev-blue: #0065FC;
    --dark-blue: #0051c9;
    --medium-gray: #DFDFDF;
    --dark-gray: #CCC;
  }

html, body {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}
.font-weight-bold {
    font-weight: 700;
}

h1 {font-size: 1.5rem; font-weight: 700; margin: .5em 0;}
h2 {font-size: 1.3rem; font-weight: 700; margin-bottom: .5em;}
h3 {font-size: 1.1rem; font-weight: 700; }
a {text-decoration: none; color: black;}
p {margin-bottom: .5em}
li {list-style: none;}


/* ==== Main Page ==== */
header, main {
    width: 100%; 
    margin: auto;
} 
@media only screen and (min-width: 768px) {
    header, main {
        width: 90%; 
    }
}
.tittle-search-filter-container {
    width: 90%;
    margin: 1em auto;
}
.tittle-search-filter-container h1 {
    margin-bottom: .5em;
}
@media only screen and (min-width: 768px){
    .tittle-search-filter-container {
        width: 100%;
        margin: 0;
    }
    .tittle-search-filter-container h1 {
        margin-bottom: .3em;
    }
}
/* ==== Header ==== */
header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
#logo {
    margin: 1rem 0 0 1rem ;
}
@media only screen and (min-width: 768px) {
    #logo {
        width: 7em;
        margin: 0 45rem 0 0 ;
    }
}
#subscribe-button {
    font-weight: 600;
    margin: 1em 1em 0 0 ;
    text-align: center;
    color: var(--rev-blue);
    order: 0;
}
@media only screen and (min-width: 768px) {
    #subscribe-button {
        padding: 1.5em; 
        margin: 0 ;
        order: 1;
    }
    #subscribe-button:hover {
        background-color: var(--rev-blue);
        color: white;
    }
}

/* === Navigation ==== */
nav {
    width: 100%;
}
nav ul {
    display: grid;
    grid-template-columns: 50% 50%;
}
nav li { 
    text-align: center;
}
nav li a {
    padding: 1em 0;
    margin-bottom: .5em;
    display: block;
    border-bottom: .2em solid var(--gray);
    }
@media only screen and (min-width: 768px) {
    nav {
        width: auto;
    }
    nav ul {
        display: flex;
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
    }
    nav li { 
        padding: 0;
        text-align: center;
        border-bottom: none;
    }   
    nav li a {
    font-weight: 600;
    padding: 3em 3em;
    display: block;
    border-bottom: none;
    margin-bottom: 0;
    }
    nav li a:hover{
        color: var(--rev-blue);
        border-top: var(--rev-blue) solid .125em;
    }
}

/* === Search form === */
#search-form {
    width: 100%;
    margin: 1.5em 0;
}
@media only screen and (min-width: 768px){
    #search-form {
        width: 30%;
    }
}
.search-container {
    height: 3.5rem;
    display: grid;
    grid-template-columns: 3.5rem auto 3.5rem;
    background-color: var(--gray);
    border-radius: 1em;
}
@media only screen and (min-width: 768px){
    .search-container {
        height: 3rem;
        grid-template-columns: 3rem auto 8rem;
    }    
}
.fa-map-marker-alt {
    margin: auto;
    font-size: 1.3rem;
    background-color: var(--gray);
}
@media only screen and (min-width: 768px){
    .fa-map-marker-alt {
        font-size: 1rem;
    } 
}
.fa-search {
    font-size: 1.2rem;
}
input[type="text"].destination {
    border: .15em solid var(--gray);
    font-weight: bold;
    font-size: 1em;
    padding: 0 1em;
    margin-right: -1em;
}
@media only screen and (min-width: 768px){
    input[type="text"].destination {
        margin-right: 0;
    }
}
input[type="text"].destination:hover {
    border: .15em solid var(--dark-gray);
}
input[type="submit"].rechercher {
    background-color: var(--rev-blue);
    color: white;
    border-radius: 0 1em 1em 0;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
}
input[type="submit"].rechercher:hover {
    background-color: var(--dark-blue);
}

.search-icon {
        display: block; /* Display search icon for smaller screen*/
        background-color: var(--rev-blue);
        color: white;
        border-width: 0;
        border-radius: 1em;
        padding: 0;
    }
@media only screen and (min-width: 768px){  
    .search-icon {
        display: none; /* Hide search icon for larger screen*/
    }
}
.rechercher {
    display: none; /* Hide text for smaller screen*/
}
@media only screen and (min-width: 768px){  
    .rechercher {
        display: block; /* Display text for smaller screen*/
    }
}

/** ===== Filters ===== **/
#filter-container {
    width: 100%;
    font-weight: 700;
    font-size: 1.1em;
    margin: 1.5em 0;
}
@media only screen and (min-width: 768px) {
    #filter-container {
        width: 70%;
        display: flex;
        justify-content: space-between;
    }
}

#filter-container div {
    height: 10em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    margin-top: 1em;
}
@media only screen and (min-width: 768px) {
    #filter-container div {
        height:fit-content;
        display: flex;
        justify-content: space-between;
        align-content: none;
        margin-top: 0;
    }
}

#filter-container span {
    display: flex;
    align-items: center;
}
.btn {
    background-color: white;
    border-radius: 1.5em;
    border: .15em var(--medium-gray) solid;
    border-left: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin: 0;
    cursor: pointer;
    padding: 0 1em 0 1.5em;
}
@media only screen and (min-width: 768px) {
    .btn {
        font-size: 1.05rem;
        margin: 0 1em;
        padding: .5em 1em .5em 1.5em;
        border-radius: 2em;
    }
}
.btn > span { 
    background-color: var(--light-blue); 
    color: var(--rev-blue);
    font-size: 1.3em;
    border-radius: 1.5em;
    padding: .8em 1.3em;
    justify-content: center;
    margin: -.15em .5em -.15em -1.5em;
}
@media only screen and (min-width: 768px) {
    .btn > span { 
        justify-content: center;
        border-radius: 2em;
        padding: .8em 1.3em;
        margin: -.5em .5em -.5em -1.5em;
    }
}
.btn:hover {
    box-shadow: 0 0 .7em .1em var(--medium-gray);
}
#info {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}
.fa-stack { 
    font-size: .8em; 
    margin: 0 1em 0 0;
}
.fa-circle { color: var(--gray);}
.fa-info { color: var(--rev-blue);}

/** Main results **/ 
.accom-popular-container{
    display: flex;
    flex-direction: column;
}
@media only screen and (min-width: 768px) {
    .accom-popular-container{
        display: grid;
        grid-template-columns: 68% 30%;
        column-gap: 2%;
        row-gap: 2em;
    }
}
.popular-container h1 {
    display: flex;
    justify-content: space-between;
}
@media only screen and (min-width: 768px) {
    .popular-container {
        order: 1;
    }
    .accom-container {
        order: 0;
    }
    .accom-container h3:last-child{
        margin: .7em 0;
    }
}

.cheap-price {font-weight: 600;}
.normal-price {font-weight: 400;}

/** rating stars **/
.fa-star { color: var(--dark-gray); font-size: 0.5em;}
.rev-blue { color: var(--rev-blue); }


/** popular area **/
.popular-container {
    background-color: var(--gray);
    border-radius: 1em; 
    padding: 2em;
}
.popular {
    height: 34em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media only screen and (min-width: 768px) {
    .popular {
        height: 37em;
    }
}


.popular li {
    width: 100%;
    height: 10em;
    background-color: white;
    box-shadow: .1em .1em .5em .1em var(--dark-gray);
    border-radius: 1.5em;
    padding: .4em;
}
.popular a {
    display: flex;
    flex-wrap: wrap;
}
.popular img {
    width: 7.5em;
    height: 9.2em;
    object-fit: cover;
    border-radius: 1.5em 0 0 1.5em;
}
.popular div {
    width: 12.5em;
    padding: 1em;
    position: relative;
}
.badge {
    position: absolute;
    bottom: 0.3125em;
}

/** accommodation area **/
.accom-container {
    border-radius: 1em; 
    padding: 2em;
}
@media only screen and (min-width: 768px) {
    .accom-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: var(--gray);
        padding: 2em;
    }
}
.accom {
    margin-bottom: 3em;
}
@media only screen and (min-width: 768px) {
    .accom {
        margin-bottom: 1em;
        height: 33em;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-around;
    }
}
.accom img {
    width: 100%;
    height: 8em;
    object-fit: cover;
    border-radius: 1.5em 1.5em 0 0;
}
.accom li {
    width: 100%;
    height: 14.5em;
    margin: 1em 0;
    background-color: white;
    box-shadow: .1em .1em .5em .1em var(--dark-gray);
    border-radius: 1.5em;
    padding: .4em;
}

@media only screen and (min-width: 768px) {
    .accom li {
        width: 31%;
        margin: 0;
    }
}
.accom div {
    padding: .5em 1em;
}


/** acrivities area **/
.activities-container {
    margin: 0 0 2.5em 0;
}
@media screen and (min-width: 768px) {
    .activities-container {
        margin: 4em 0;
    }
    #Activités {
        margin: 1em 0;
    }  
}
.activities {
    display: flex;
    flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
    .activities {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(10, .5em);
        grid-gap: 2.5em;
    }
}
.activities li {
    position: relative;
    border-radius: 1em;
    box-shadow: .1em .1em .5em .1em var(--dark-gray);
}
.activities img {
    width: 100%;
    height:100%;
    object-fit: cover;
    border-radius:1em;
}
.activities div {
    width: 100%;
    height: 3.125em;
    position: absolute;
    bottom: 0;
    background-color: white;
    border-radius: 0 0 1em 1em;
    display: flex;
    align-items: center;
}
.activities h3 { 
    padding-left: 1em;
    display: flex;
    flex-direction: column;
}
.act-1 {
    grid-row: span 10;
}
.act-2 {
    grid-row: span 6;
}
.act-3 {
    grid-row: span 10;
}
.act-4 {
    grid-row: span 5;
}
.act-5 {
    grid-row: span 5;
}
.act-6 {
    grid-row: span 4;
}


/** footer **/
footer {
    width: 100%;
    background-color: var(--gray);
}
footer section {
    width: 90%;
    height: 35em;
    margin: auto;
    padding: 3.125em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media only screen and (min-width: 768px){
    footer section {
        height: auto;
        padding: 3.125em 0;
        display: grid;
        grid-template-columns: repeat(3, 3fr);
    }
}
footer li {
    margin: 1em 0;
}

